@import "../../../public/assets/variables";

header {
    text-align: center;
    position: absolute;
    width: 100%;
    animation: header-animation 10s linear forwards;
    animation-timeline: scroll();
    padding: 1rem 0;
    z-index: 10;
    background-color: transparent;
    top: 50px;

    img {
        height: 50px;

        @media (min-width: $bp-md) {
            height: 70px;
        }
    }

    .nav {
        opacity: 0;
        background: #fff;
        height: 0;

        .menu {
            list-style: none;
            padding: 0;

            .menu-item {
                color: #fff;
                text-decoration: none;
                font-weight: 700;
                cursor: pointer;
                animation: header-color 10s linear forwards;
                animation-timeline: scroll();
            }
        }

        &.show {
            opacity: 1;
            height: auto;
        }
    }

    @media (min-width : $bp-md) {
        .container {
            display: flex;
            align-items: center;
            gap: 1.25rem;
            justify-content: space-between;
            font-size: 1.75rem;

            .nav {
                opacity: 1;
                height: auto;
                background: transparent;

                .menu {
                    display: flex;
                    gap: 1rem;
                }
            }
        }
    }
}

.btn-toggle {
    position: absolute;
    left: 0;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    border: 0;
    cursor: pointer;

    .hamburger {
        width: 25px;
        height: 3px;
        display: block;
        background-color: $primary;
        margin: 0 auto;

        &::after {
            content: '';
            width: 100%;
            height: 100%;
            display: block;
            background-color: $primary;
            position: relative;
            top: 3px;
        }

        &::before {
            content: '';
            width: 100%;
            height: 100%;
            display: block;
            background-color: $primary;
            position: relative;
            top: -6px;
        }

    }

    @media (min-width : $bp-md) {
        display: none;
    }
}

.top-contact {
    position: absolute;
    top: 0;
    width: 100%;
    background: white;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding: 0.25rem 1rem;

    .contact-detail {
        display: flex;
        gap: 0.5rem;

        @media (min-width: $bp-sm) and (max-width: $bp-md) {
            font-size: 0.75rem;

            img {
                display: none;
            }
        }
    }
}

@keyframes header-animation {

    1% {
        top: -10rem;
        position: fixed;
    }

    10%,
    100% {
        position: fixed;
        top: 0;
        background-color: white;
        color: $primary;
    }
}

@keyframes header-color {

    5%,
    100% {
        color: $primary;
    }
}