<div class="footer">
  <div class="container footer-content">
    <div class="footer-text">
      <p>
        ACE MULTINATIONAL is a global leader in providing premium, sustainably sourced products, including fresh
        vegetables, essential oils, and vegetable powders. Committed to quality and ethical practices, the company
        connects producers and consumers worldwide, ensuring health-enhancing products with exceptional service.
      </p>
    </div>
    <div class="social-container">
      <p class="social-head">Connect With Us</p>
      <div class="social-link">
        <a href="https://www.linkedin.com/company/ace-multinational" target="_blank"><img
            src="/assets/icons/linkedin.svg" alt="" width="40px" height="40px" /> </a>
        <a href="https://www.instagram.com/acemultinational" target="_blank"><img src="/assets/icons/instagram.svg"
            alt="" width="40px" height="40px" /></a>

      </div>
    </div>
  </div>

  <div class="rights-container">
    <p class="mb-1">
      All Rights Reserved.
      <a href="/">Ace Multinational</a>
      <a href="">(Terms of Use)</a>
    </p>
    <p>
      Developed & Managed By
      <a href="https://www.lifecraftstudio.com/">Lifecraft Studio Pvt. Ltd.</a>
    </p>
  </div>
</div>