@import '../../../public/assets/variables';

.footer {
  width: 100%;
  background-color: $primary;
  color: white;
  padding: 2rem;

  .footer-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;

    .footer-text {
      width: 50%;
    }
  }

  .social-container {
    .social-head {
      text-align: center;
      margin-bottom: 1rem;
    }

    .social-link {
      display: flex;
      gap: 1.5rem;
      align-items: center;
      justify-content: center;
    }
  }

  @media (min-width: $bp-sm) And (max-width: $bp-md) {
    padding: 1rem;

    .footer-content {
      display: block;

      .footer-text {
        width: 100%;
      }
    }
  }
}

a {
  color: white;
  text-decoration: none;
}

.rights-container {
  text-align: center;
}