<app-static-header></app-static-header>
<div class="hero-img">
    <div class="content">
        <h2>Vegetable Powder</h2>
        <p>
            At ACE MULTINATIONAL, we offer a premium range of vegetable powders that are
            perfect for enhancing the nutritional profile of your meals and products. Our vegetable powders are
            made from the freshest, highest-quality vegetables, carefully processed to retain their natural flavors,
            colors, and nutrients. Our vegetable powders are made from 100% pure vegetables, free from
            artificial additives, preservatives, and fillers. We use advanced drying and processing techniques to
            preserve the natural goodness and vibrant colors of the vegetables.
        </p>
    </div>
</div>

<app-products [products]="products" [imgPrefix] = "imgPrefix"></app-products>