<app-static-header></app-static-header>
<div class="hero-img">
    <div class="content">
        <h2>Essential Oils</h2>
        <p>We offer wide selection of premium essential oils sourced from the finest natural resources around the world.
            Our
            essential oils are
            meticulously extracted to maintain their natural purity and potency, making them perfect for a
            variety of applications, including aromatherapy, culinary uses, beauty products, and holistic wellness
            practices.
        </p>
    </div>
</div>

<section class="container section core-products">
    <h2 class="section-heading">Our Core Products</h2>
    <div class="product-item">
        <div class="product-detail">
            <h3 class="product-title">Garlic Oil</h3>
            <p class="product-desc">
                Discover the exceptional benefits and rich flavor of ACE MULTINATIONAL's Premium Garlic Oil.
                Carefully extracted from the finest garlic cloves, our garlic oil encapsulates the potent essence and
                health-boosting properties of garlic in a convenient and versatile form. Perfect for culinary
                enthusiasts and health-conscious individuals alike, our garlic oil enhances the taste of your dishes
                while providing a myriad of health benefits. ACE MULTINATIONAL's Garlic Oil is your go-to
                choice for quality and purity.
            </p>
            <p class="product-desc">
                Natural Garlic Oil is extracted from fresh garlic bulbs using the steam distillation
                method. It is a pure and natural oil, perfect for food seasoning, healthcare supplements, and more.
                But why is garlic considered a great health herb? The secret lies in its vital chemical compound,
                allicin. Allicin is a remarkable therapeutic ingredient known for its numerous health benefits. This
                compound contains sulfur, which gives garlic its distinctive pungent flavor and unique aroma.
            </p>
            <div class="product-extra">
                <div>
                    <h4>Item Name</h4>
                    <p>Natural Healing Garlic Essential Oils</p>
                </div>
                <div>
                    <h4>Product type</h4>
                    <p>pure essential oil</p>
                </div>
                <div>
                    <h4>CAS Number</h4>
                    <p>8000-78-0</p>
                </div>
                <div>
                    <h4>Extraction Method</h4>
                    <p>steam distillation</p>
                </div>
                <div>
                    <h4>Package</h4>
                    <p>1kg/2kg/5kg/10kg/25kg/180kg</p>
                </div>
            </div>
            <div class="product-application">
                <h4>Application</h4>
                <p>cosmetics, Aromatherapy, massage and SPA, and food & beverage industry, chemical
                    industry, pharmacy industry, textile industry, and machinery industry, etc.</p>
            </div>
        </div>
        <img src="assets/products/oil/garlic-oil.jpg">
    </div>
    <div class="product-item">
        <div class="product-detail">
            <h3 class="product-title">Ginger Oil</h3>
            <p class="product-desc">
                Discover the invigorating and therapeutic properties of ACE MULTINATIONAL’s Premium Ginger
                Oil. Extracted from fresh ginger roots using the steam distillation method, our ginger oil is pure and
                natural, ensuring the highest quality and potency. Renowned for its warm, spicy aroma and
                numerous health benefits, ginger oil is a versatile addition to both culinary and wellness applications.
                Whether you're looking to enhance your recipes with a zesty kick or seeking natural remedies for
                digestive health and inflammation, ACE MULTINATIONAL’s Ginger Oil is your perfect choice for
                authenticity and effectiveness.
            </p>
            <p class="product-desc">
                Ginger oil is a potent and aromatic essential oil extracted from the root of the ginger
                plant (Zingiber officinale) through the steam distillation process. Known for its warm, spicy, and
                energizing scent, ginger oil has been used for centuries in various cultures for its culinary and
                medicinal properties.
            </p>
            <div class="product-extra">
                <div>
                    <h4>Item Name</h4>
                    <p>Natural Healing Ginger Essential Oils</p>
                </div>
                <div>
                    <h4>Product type</h4>
                    <p>pure essential oil</p>
                </div>
                <div>
                    <h4>CAS Number</h4>
                    <p>8007-08-7</p>
                </div>
                <div>
                    <h4>Extraction Method</h4>
                    <p>steam distillation</p>
                </div>
                <div>
                    <h4>Package</h4>
                    <p>1kg/2kg/5kg/10kg/25kg/180kg</p>
                </div>
            </div>
            <div class="product-application">
                <h4>Application</h4>
                <p>cosmetics, Aromatherapy, massage and SPA, and food & beverage industry, chemical
                    industry, pharmacy industry, textile industry, and machinery industry, etc.</p>
            </div>

        </div>
        <img src="assets/products/oil/ginger-oil.jpg">
    </div>
</section>

<section class="container section products-section" id="products">
    <h2 class="section-heading">Our Other Products</h2>
    <div class="products">

        <div class="product-item">
            <img src="assets/products/oil/ajwain-oil.jpg" alt="">
            <div class="product-name">
                <p>Ajwain oil</p>
            </div>
        </div>
        <div class="product-item">
            <img src="assets/products/oil/amla-oil.jpg" alt="">
            <div class="product-name">
                <p>Amla oil</p>
            </div>
        </div>
        <div class="product-item">
            <img src="assets/products/oil/basil-oil.jpg" alt="">
            <div class="product-name">
                <p>Basil oil</p>
            </div>
        </div>
        <div class="product-item">
            <img src="assets/products/oil/black-pepper-oil.jpg" alt="">
            <div class="product-name">
                <p>Black pepper oil</p>
            </div>
        </div>
        <div class="product-item">
            <img src="assets/products/oil/camphor-oil.jpg" alt="">
            <div class="product-name">
                <p>Camphor oil</p>
            </div>
        </div>
        <div class="product-item">
            <img src="assets/products/oil/cinnamon-oil.jpg" alt="">
            <div class="product-name">
                <p>Cinnamon oil</p>
            </div>
        </div>
        <div class="product-item">
            <img src="assets/products/oil/clove-oil.jpg" alt="">
            <div class="product-name">
                <p>Clove oil</p>
            </div>
        </div>
        <div class="product-item">
            <img src="assets/products/oil/cumin-oil.jpg" alt="">
            <div class="product-name">
                <p>Cumin oil</p>
            </div>
        </div>
        <div class="product-item">
            <img src="assets/products/oil/dill-seed-oil.jpg" alt="">
            <div class="product-name">
                <p>Dill seed oil</p>
            </div>
        </div>
        <div class="product-item">
            <img src="assets/products/oil/drumstick-oil.jpg" alt="">
            <div class="product-name">
                <p>Drumstick oil</p>
            </div>
        </div>
        <div class="product-item">
            <img src="assets/products/oil/eucalyptus-oil.jpg" alt="">
            <div class="product-name">
                <p>Eucalyptus oil</p>
            </div>
        </div>
        <div class="product-item">
            <img src="assets/products/oil/jojoba-oil.jpg" alt="">
            <div class="product-name">
                <p>Jojoba oil</p>
            </div>
        </div>
        <div class="product-item">
            <img src="assets/products/oil/kalonji-oil.jpg" alt="">
            <div class="product-name">
                <p>Kalonji oil</p>
            </div>
        </div>
        <div class="product-item">
            <img src="assets/products/oil/karanj-oil.jpg" alt="">
            <div class="product-name">
                <p>Karanj oil</p>
            </div>
        </div>
        <div class="product-item">
            <img src="assets/products/oil/lavender-oil.jpg" alt="">
            <div class="product-name">
                <p>Lavender oil</p>
            </div>
        </div>
        <div class="product-item">
            <img src="assets/products/oil/lemongrass-oil.jpg" alt="">
            <div class="product-name">
                <p>Lemongrass oil</p>
            </div>
        </div>
        <div class="product-item">
            <img src="assets/products/oil/neem-oil.jpg" alt="">
            <div class="product-name">
                <p>Neem oil</p>
            </div>
        </div>
        <div class="product-item">
            <img src="assets/products/oil/onion-oil.jpg" alt="">
            <div class="product-name">
                <p>onion oil</p>
            </div>
        </div>
        <div class="product-item">
            <img src="assets/products/oil/peppermint-oil.jpg" alt="">
            <div class="product-name">
                <p>Peppermint oil</p>
            </div>
        </div>
        <div class="product-item">
            <img src="assets/products/oil/tea-tree-oil.jpg" alt="">
            <div class="product-name">
                <p>Tea tree oil</p>
            </div>
        </div>
        <div class="product-item">
            <img src="assets/products/oil/tulsi-oil.jpg" alt="">
            <div class="product-name">
                <p>Tulsi oil</p>
            </div>
        </div>
        <div class="product-item">
            <img src="assets/products/oil/ylang-oil.jpg" alt="">
            <div class="product-name">
                <p>Ylang oil</p>
            </div>
        </div>
    </div>
</section>